* text=auto eol=lf

*.py text
*.js text
*.css text
*.html text
*.md text
*.yaml text
*.yml text
*.toml text
*.json text
*.sh text eol=lf
Makefile text eol=lf
LocalSM text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.webp binary
